@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.sign-up-container {
    display: flex;
    width: 55%;
    height: 80%;
    max-height: 600px;
    max-width: 800px;
    background-color: white;
    border-radius: 24px;
    padding: 20px;
    justify-content: space-evenly;
}

.sign-up-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    color: #3d3d46;
    font-family: 'Roboto', sans-serif;
}

.sign-up-title, .success-title {
    color: #232743;
    font-size: 2.8em;
    font-weight: 700;
    margin-bottom: 16px;
}

.sign-up-subtitle {
    font-size: .8em;
    margin-bottom: 16px;
}

.check-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 18px;
    min-height: 18px;
    color: white;
    background-image: url('../images/icon-list.svg');
    background-size: 100% 100%;
    border-radius: 50px;
    margin-right: 12px;
}

.check-list-text {
    font-size: .8em;
}

.email-section-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: .7em;
    margin-top: 32px;
    margin-bottom: 8px;
    font-weight: 700;
}

.email-header-right {
    color: rgba(255, 0, 0, 0.747);
    z-index: -5;
}

.visible {
    z-index: 1;
}

.email-address {
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    border-radius: 6px;
    border: 1px solid grey;
    padding: 20px;
    margin-bottom: 16px;
}

.email-address-error {
    border: 2px solid rgba(255, 0, 0, 0.747);
    background-color: rgba(255, 0, 0, 0.267);
    outline: none !important;
}

.email-address-error::placeholder {
    color: rgba(255, 0, 0, 0.747);
}

.confirm-button, .success-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    height: 42px;
    color: white;
    background-color: #232742;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .3s ease;
}

.confirm-button:hover, .success-button:hover {
    background-color: #11131f;
}

.sign-up-right {
    display: flex;
    justify-content: right;
    height: 100%;
    width: 60%;
}

.sign-up-image {
    height: 100%;
    width: 90%;
    background-image: url('../images/illustration-sign-up-desktop.svg');
    background-size: cover;
    border-radius: 14px;
}

.success-message-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 400px;
    width: 364px;
    border-radius: 30px;
    padding: 24px 42px;
    font-family: 'Roboto', sans-serif;
}

.success-icon {
    margin-bottom: 28px;
}

.user-email {
    font-weight: 700;
}

.success-subtitle {
    margin-bottom: 36px;
    color: #3d3d46;
}

.success-button {
    height: 50px;
}

@media (min-width: 1400px) {
    .sign-up-title {
        font-size: 3.1em;
    }

    .sign-up-subtitle {
        font-size: .88em;
    }

    .check-list-text {
        font-size: .9em;
    }
}

@media (max-width: 875px) {
    .container {
        background-color: white;
        min-width: 375px;
    }
    .sign-up-container {
        padding-top: 0px;
        margin-top: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 90%;
    }

    .sign-up-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px 4px;
    }

    .sign-up-subtitle {
        font-size: 1em;
    }

    .email-section-header {
        background-color: white;
    }

    .check-list-item {
        margin-bottom: 12px;
    }

    .check-list-text {
        font-size: 1em;
    }

    .email-form {
        width: 100%;
    }

    .email-address {
        height: 54px;
    }

    .confirm-button {
        font-size: 1em;
        height: 54px;
        margin-bottom: 16px;
    }

    .sign-up-right {
        margin-top: 0;
        width: 100%;
    }

    .sign-up-image {
        width: 100%;
        padding: 0;
        background-image: url('../images/illustration-sign-up-mobile.svg');
        background-size: cover;
    }
}